*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}


form  input:not(:first-child) {
    margin-left: 8px; /* or whatever margin you want */
  }